In [17]:
import pandas as pd 
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [5]:
data = pd.read_csv('Market_Basket_Optimisation.csv', header=None)  # 注意次data无表头，必须添加header none

In [9]:

for i in data.columns:
    data[i] = data[i].str.strip()

In [13]:
新建一dataframe表，把所有item以|分隔放进去
market_hot_encode=pd.DataFrame(columns=["items"])
for i in data.index:
    item=""
    for j in data.loc[i].unique():
        item += str(j) + "|"
    market_hot_encode.loc[i,"items"] = item

In [14]:
market_hot_encode

                                                  items
0     shrimp|almonds|avocado|vegetables mix|green gr...
1                           burgers|meatballs|eggs|nan|
2                                          chutney|nan|
3                                   turkey|avocado|nan|
4     mineral water|milk|energy bar|whole wheat rice...
...                                                 ...
7496                 butter|light mayo|fresh bread|nan|
7497  burgers|frozen vegetables|eggs|french fries|ma...
7498                                       chicken|nan|
7499                            escalope|green tea|nan|
7500  eggs|frozen smoothie|yogurt cake|low fat yogur...

[7501 rows x 1 columns]

In [15]:
# one-hot编码，并删除nan
market_hot_encode=market_hot_encode["items"].str.get_dummies(sep="|").drop("nan",axis=1)

In [16]:
market_hot_encode.head()

,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,body spray,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,1,1,0,1,0,0,0,0,0,0,...,0,1,0,0,1,0,0,1,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0

In [18]:
# 挖掘频繁项集，最小支持度为0.025
itemsets = apriori(market_hot_encode,use_colnames=True, min_support=0.025)

In [19]:

# 按照支持度从大到小进行时候粗
itemsets = itemsets.sort_values(by="support" , ascending=False) 
print('-'*20, '频繁项集', '-'*20)
itemsets

-------------------- 频繁项集 --------------------

     support               itemsets
30  0.238368        (mineral water)
12  0.179709                 (eggs)
38  0.174110            (spaghetti)
16  0.170911         (french fries)
8   0.163845            (chocolate)
..       ...                    ...
33  0.026530               (pepper)
5   0.025730              (cereals)
42  0.025730       (vegetables mix)
54  0.025463      (eggs, green tea)
72  0.025197  (pancakes, spaghetti)

[73 rows x 2 columns]

In [20]:

# 根据频繁项集计算关联规则，设置最小提升度为1.5
rules =  association_rules(itemsets, metric='lift', min_threshold=1.5)
# 按照提升度从大到小进行排序
rules = rules.sort_values(by="lift" , ascending=False)
rules

0                (milk)      (mineral water)            0.129583
18           (pancakes)          (spaghetti)            0.095054
19          (spaghetti)           (pancakes)            0.174110
11               (milk)          (chocolate)            0.129583
10          (chocolate)               (milk)            0.163845

    consequent support   support  confidence      lift  leverage  conviction
5             0.098254  0.039195    0.225115  2.291162  0.022088    1.163716
4             0.174110  0.039195    0.398915  2.291162  0.022088    1.373997
13            0.087188  0.028796    0.160237  1.837830  0.013128    1.086988
12            0.179709  0.028796    0.330275  1.837830  0.013128    1.224818
16            0.238368  0.027596    0.419028  1.757904  0.011898    1.310962
17            0.065858  0.027596    0.115772  1.757904  0.011898    1.056449
3             0.098254  0.040928    0.171700  1.747522  0.017507    1.088672
2             0.238368  0.040928    0.416554  1.747522  0.017507    1.305401
15            0.095321  0.027863    0.160031  1.678867  0.011267    1.077039
14            0.174110  0.027863    0.292308  1.678867  0.011267    1.167018
6             0.238368  0.035729    0.374825  1.572463  0.013007    1.218270
7             0.095321  0.035729    0.149888  1.572463  0.013007    1.064189
9             0.129583  0.035462    0.203675  1.571779  0.012900    1.093043
8             0.174110  0.035462    0.273663  1.571779  0.012900    1.137061
1             0.129583  0.047994    0.201342  1.553774  0.017105    1.089850
0             0.238368  0.047994    0.370370  1.553774  0.017105    1.209650
18            0.174110  0.025197    0.265077  1.522468  0.008647    1.123778
19            0.095054  0.025197    0.144717  1.522468  0.008647    1.058066
11            0.163845  0.032129    0.247942  1.513276  0.010898    1.111823
10            0.129583  0.032129    0.196094  1.513276  0.010898    1.082736